.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 10rem;
  border: 1.5px solid #097c09;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  .cardTitle{
    margin: 0;
    font-size: 1.8rem;
    color: rgb(65, 64, 64);
  }
  .cardValue{
    font-size: 1.6rem;
    margin: 0.7rem;
    font-weight: bold;
  }
}
